body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

hr {
    width: 500px;
}

#game-name{
    color:#051851;
}

.Score{
    color:white;
}

#board {

    width: 399px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {

    width: 90px;
    height: 91px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16 {
    background-color: #f59575;
    color: white;
}

.x32 {
    background-color: #f57c5f;
    color: white;
}

.x64 {
    background-color: #f65d3b;
    color: white;
}

.x128 {
    background-color: #edce71;
    color: white;
}

.x256 {
    background-color: #edcc63;
    color: white;
}

.x512 {
    background-color: #edc651;
    color: white;
}

.x1024 {
    background-color: #eec744;
    color: white;
}

.x2048 {
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}

#new-game-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8f7a66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-game-btn:hover {
    background-color: #6e5c4f;
}

.game-over {
    color:#d40d0d;
}